.container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #646A9B, #B1B5D0, #fff);
    height: 100vh;
}

.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}